<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="dist/style.css")
    body
        .wrapper
            h1 This is a title
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus, corrupti nemo consequatur, voluptatem dolor laudantium error alias autem minima aut cum quasi aperiam, vel blanditiis voluptates itaque? Omnis, iure!
        
        .single-wrapper
            h2 Another title here


        script(src="dist/app.bundle.js")